@model BirthdayCard.Models.GuestResponse
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<head>
    
        <meta name="viewport" content="width=device-width" />
        <title>RsvpForm</title>
        <link rel="stylesheet" href="~/Content/styles.css" />
        <link rel="stylesheet" href="~/Content/bootstrap.css"/>
        
        <style>
            .btn a {
                color: white;
                text-decoration: none;
            }

            body {
                background-color: #f1f1f1;
            }
        </style>
</head>
@{
    Layout = null;
}
<body>
    <h4 class="panel-heading text-center">Please RSVP</h4>

    @using (Html.BeginForm())
    {   
        @Html.ValidationSummary()
        <p><label>Name:</label> 
        @Html.TextBoxFor(t => t.Name,
                                new { @class = "form-control", maxlength = 30, style = "width:200px;" })</p>
        <p><label>Phone:</label> @Html.TextBoxFor(t => t.Phone, new { @class = "form-control", maxlength = 50, style = "width:300px;" })</p>
        <p><label>Email:</label> @Html.TextBoxFor(t => t.Email, new { @class = "form-control", maxlength = 15, style = "width:300px;" })</p>
        <p>
            <label>
                Will Attend:</label>
        @Html.DropDownListFor(t => t.WillAttend, new[]
          {
            new SelectListItem { Text="Yes, I'll be there", Value=bool.TrueString},
            new SelectListItem{Text="No, I can't come", Value=bool.FalseString},
          }, "Choose an option")
        </p>
        <input class="btn btn-success" type="submit" value="Submit RSVP"/>
}
</body>